/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.1 - 201703
*
*=====================================
* 1. 通用設定
* 2. 全站結構
* 3. 選單設定
* 4. 按鈕設定
* 5. 頁面頂端+版權列設定
* 6. 服務介紹
* 7. 案例展示
* 8. 觀點分享
* 9. 聯絡諮詢
*10. 錯誤頁提醒
*=====================================
**/

/*
=====================================
通用設定
=====================================
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	background: rgb(29,183,255);
	font-family: 'xingothic-tc', 'Noto Sans TC', sans-serif;
    font-weight: 400;
	font-size: 1rem; /* 1rem=10px */
	color: #585858}
/*a:link {text-decoration:none; color:#b76727}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
::selection { background: #126db4; color: #fff}
::-moz-selection { background: #126db4; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}
.clean{ clear:both}
.hidden{ display:none}
.jf-loading body { /*載入中不顯示*/
    opacity: 0;
    visibility: hidden}
.jf-active body { /*如果處理成功，直接顯示*/
    opacity: 1;
    visibility: visible}
.jf-inactive body { /*如果處理失敗，直接顯示*/
    opacity: 1;
    visibility: visible}
.txt-blue{ color: #21abd4}
.txt-white{ color: #fff}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 96%;
    margin: 2.2% auto;
    background: rgb(247,247,247)}
#sub-vision{
    display:block;
	max-width:100vw;
	height: 500px/*50vh*/;
    background-size: cover;
	overflow: hidden}
#my-contact,
#copyright,
#top-bar,
#container{
    display: block;
    width: 100%;
    padding: 50px 0}
#my-contact{
    background: url(../images/bg_website.png)}
#my-contact,
#copyright{ padding: 0}

header,
.mybox,
#top-menu{
    display: block;
    width: 1070px;
    margin: 30px auto}
header{ padding: 0 20px}

/*
=====================================
選單設定
=====================================
*/
#main-nav{
    display: block;
    float: right}
#main-nav li{
    display: inline-block;
    /*width: 120px;
    height: 30px;*/
    padding: 5px 15px;
    margin-top: 43px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    -moz-line-height: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff}
#main-nav li a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 15px #868686;}
#main-nav li a:hover{
    color: #fff;
    text-decoration: none}

.hvr-bounce,
.hvr-bounce-sub{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s}
.hvr-bounce:before,
.hvr-bounce-sub:before{
    display: inline-block;
    height: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: 0;
    bottom: 0;
    background: #126db4/*#2098d1*/;
    text-align: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
.hvr-bounce:before{ 
    width: 75px;
    margin:-2px 0 0 -7px;
    padding: 8px 8px 3px 15px}
.hvr-bounce-sub:before{ 
    width: 60px;
    margin-left: -8px;
    padding: 3px 8px 5px 15px}
.hvr-bounce:hover, 
.hvr-bounce:focus, 
.hvr-bounce:active,
.hvr-bounce-sub:hover, 
.hvr-bounce-sub:focus, 
.hvr-bounce-sub:active{
    color: #fff}
.hvr-bounce:hover:before, 
.hvr-bounce:focus:before, 
.hvr-bounce:active:before,
.hvr-bounce-sub:hover:before, 
.hvr-bounce-sub:focus:before, 
.hvr-bounce-sub:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)}

/*上層固定式選單*/
#top-bar{
    padding: 0;
	height:40px;
	background:rgb(29,183,255);
	position:fixed;
    top:-65px;
    z-index: 150}
#top-menu{
    margin: 0 auto;}
#top-menu h2 a{
    float: left;
    margin: 6px 20px 0 0}
.menu-list{
    display: block;
    float: left;
    width: 60%;
    padding-top: 8px}
.menu-list li{
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    /*text-shadow: 1px 1px 5px #8d8d8d;*/
    margin: 0 25px;
    padding-left: 15px}
.menu-list li a{
    color: #fff;
    text-decoration: none}
#btn_totop{
    display: block;
    float: right;
    font-size: 2.3rem;
    color: #fff;
    margin-top: 8px}
#btn_totop:hover{
    color: #126db4}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn_sent{
    font-family: 'xingothic-tc', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer}
.btn-white:hover,
.btn-blue:hover,
.btn_sent:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}		
.icon-mouse{
    display: block;
    width: 17px;
    height: 49px;
    margin: 85px auto 0 auto;
    background: url(../images/icon_mouse.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-name: mousemove;/*模組名稱,自訂*/
	animation-duration: 1800ms/*2375ms*/;/*動畫演譯時間*/
    animation-iteration-count: infinite;/*動畫循環的次數，無限循環用infinite*/
   /* animation-direction: alternate;/*動畫在0%到100%之間往復執行*/}
#trigger-02{ display: none}

/*
=====================================
頁面頂端+版權列設定
=====================================
*/
h1 a{
    display: block;
    float: left;
    width: 244px;
    height: 82px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#slogan,
#blog-title,
#project-title{
    clear: both;
    padding-top: 156px;
    text-align: center}
#slogan>h2,
#blog-title>h2,
#project-title>h2{
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 15px #868686;
    margin: 0 83px}
#slogan>h2{ 
    font-size: 5rem;
    padding-bottom: 30px}
#blog-title>h2,
#project-title>h2{ 
    font-size: 4rem;
    line-height: 4.5rem;
    padding-bottom: 20px}
#slogan>h2 span{
    font-size: 2rem;
    vertical-align: middle}
#slogan>h3,
#project-title>h3{
    width: 76%;
    margin: 0 auto;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 15px #868686}
#slogan>h3{ padding: 30px 0 60px 0}
#project-title>h3{ padding: 30px 0 10px 0}
#my-contact h2{ 
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: 2rem}
#my-contact h3{
    width: 760px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.2rem;
    text-align: center}

/*版權列*/
#copyright{
    clear: both;
    min-height: 118px;
    background: rgba(9, 31, 114, .8);
    padding: 1px 0 5px 0}
#copyright>hr{
    border:0; 
    height:1px; 
    background-color:#2bacf7;
	color:#2bacf7}
.box_copyright{
    display: block;
    float: left;
    width: 33.3%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #f7f7f7}
.box_copyright h4{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px}
.box_copyright li a{
    display: block;
    float: left;
    font-size: 2em;
    margin-right: 15px;
    color: #fff}
.box_copyright li a:hover{
    color: #1db7ff}
.foot-logo,
#top-menu h2 a{
    display: block;
    width: 95px;
    height: 27px;
    background: url(../images/logo-footer.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-logo{ margin-bottom: 7px}


/*FB Messenger*/
#box_messenger{
    display: block;
    position: fixed;
    bottom:50px;
    right:35px;
    z-index: 99}
#widget{
    display: inline-block; 
    overflow: hidden; 
    height: auto; 
    min-width: 120px; 
    text-align: center; 
    line-height: normal; 
    white-space: nowrap; 
    vertical-align: middle}
#box_talk{
    display: none}
#widget:hover>#box_talk{
    display: block;
    -webkit-transition: all 1s ease 0.5s;
    -moz-transition: all 1s ease 0.5s;
    transition: all 1s ease 0.5s}
.bg_arrow{
    width: 11px; 
    height: 8px; 
    background: url('https://assets.modernapp.co/assets/images/arrow-bottom.png') no-repeat; 
    margin: -1px auto 0 auto}
.icon_talk{
    display: inline-block; 
    width: 47px; 
    height: 47px; 
    background: url('https://assets.modernapp.co/assets/images/facebook-message-button-icon-round-white2x.png') no-repeat; background-size: 47px 47px;
    margin-top: 5px}
.talktome{
    color: black;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding: 6px; 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    border: 1px solid #e0e0e0; 
    background-color: white; 
    -webkit-box-shadow: 0px 5px 18px -5px rgba(184,184,184,0.5); 
    -moz-box-shadow: 0px 5px 18px -5px rgba(184,184,184,0.5); 
    box-shadow: 0px 5px 18px -5px rgba(184,184,184,0.5)}

/*
=====================================
服務介紹
=====================================
*/
#service-info>section{
    margin-bottom: 80px}
#service-info h3{
    font-size: 3rem;
    color: #21abd4;
    padding-bottom: 15px;}
#service-info p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 40px}
.logomean-left{
    display: block;
    float: left;
    width: 48%;
    background: url(../images/icon_dot-01.png) top left no-repeat, url(../images/icon_dot-02.png) bottom right no-repeat;
    margin: 20px 3% 0;
    padding: 50px}
.logomean-right{
    display: block;
    float: right;
    width: 42%;
    padding-left: 0}
#logo-change{
    display: block;
    width: 374px;
    height: 326px}

#list_service{
    display: block}
#list_service h4{
    display: block;
    width: 350px;
    margin: 30px auto;
    padding-left: 70px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 45px;
    color: #21abd4;
    background: url(../images/icon_cloud.png) no-repeat}
.service_item{
    display: block;
    width: 89%;
    margin: 0 auto}
.service_item li{
    display: inline-block;
    width: 220px;
    height: 124px;
    background: url(../images/icon_service-sub.png) no-repeat;
    margin-right: 140px;
    padding-top: 90px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px}
.service_item li:nth-child(3){ 
    margin-right: 0}
.service_item .service-01{
    background-position: 0 0}
.service_item .service-02{
    background-position: 0 -124px}
.service_item .service-03{
    background-position: 0 -248px}
.service_item .service-04{
    background-position: 0 -372px}
.service_item .service-05{
    background-position: 0 -496px}
.service_item .service-06{
    background-position: 0 -620px}

#our_doit p,
#our_sop p{
	padding: 0 30px 40px 32px}

#my-project-step{
    display: block;
    text-align: center}
#my-project-step li{
    display: inline-block;
    width: 188px;
    vertical-align: top;
    margin: 0 30px}
#my-project-step p{
    line-height: 24px;
    padding: 0}
.icon_step{
    display: block;
    width: 188px;
    height: 188px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;   
    background: url(../images/pic_projectstep.png) no-repeat}
.step-01{
    background-position: 0 0}
.step-02{
    background-position: 0 -188px}
.step-03{
    background-position: 0 -376px}
.step-04{
    background-position: 0 -564px}
.percent{
    font-size: 1.8rem;
    color: #386390;
    font-weight: bold;
    margin: 20px 0 8px}
.step-note{
    font-size: 1.5rem;
    text-align: left}


/*
=====================================
案例展示
=====================================
*/
#project-main{
    display: block;
    width: 100%;
    padding-bottom: 30px}
#project-main img{
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto}
#project-main section{
    display: block;
    margin-bottom: 40px}
#project-main strong{
    font-weight: normal}

#project-info h4{
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #2358be}
#project-info p{
    font-size: 1.5rem;
    line-height: 2.2rem}
#project-info ul{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px}
#project-info li{
    display: inline-block;
    width: 33%;
    padding-left: 40px;
    vertical-align: top}
#project-info a{
    color: #585858;
    text-decoration: none}
#project-info a:visited{
    color: #8e8e8e;
    text-decoration: none}
#project-info a:hover{
    color: #126db4;
    text-decoration: none}

/*卡片排列*/
.project-list {
    width: 100%;
    margin: 0 auto;
    text-align: center}
/*.pitem {
    display: block;
    position:relative;
    width: 335px;
    height: auto;
    background-color: #F25D9C}
.pitem img{
    width: 100%;
    height: auto}
.ptitle,
.pcover{
    width: 335px;
    position:absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out}
.ptitle{
    height: 440px;
    top:5;
    opacity: 0;
    background:rgba(0,0,0,.7);
    font-size: 2rem;
    color: #fff}
.ptitle:hover{ opacity: 1}

/*.pitem:nth-child(1){ height: 440px}
.pitem:nth-child(2){ height: 490px}
.pitem:nth-child(3){ height: 450px}
.pitem:nth-child(4){ height: 430px}
.pitem:nth-child(5){ height: 480px}
.pitem:nth-child(6){ height: 450px}
.pitem:nth-child(7){ height: 440px}
.pitem:nth-child(8){ height: 490px}
.pitem:nth-child(9){ height: 450px}
.pitem:nth-child(10){ height: 430px}
.pitem:nth-child(11){ height: 480px}
.pitem:nth-child(12){ height: 480px}*/

/*
=====================================
觀點分享
=====================================
*/
#box_blog li{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    background: #fff}
#box_blog img{
    display: block;
    float: left;
    width: 435px}
.article_summary{
    display: block;
    float: right;
    width: 57%;
    padding: 30px}
.article_summary h4{
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #383838;
    padding-bottom: 20px}
.article_summary p{
    font-size: 1.5rem;
    line-height: 2.4rem}
.btn_read{
    display: block;
    float: right;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-top: 5px;
    color: #21abd4;}
#box_blog a:link,
#box_blog a:hover{
    color: #585858;
    text-decoration: none}
#box_blog a:visited{
    color: #8e8e8e;
    text-decoration: none}
.btn_read:hover{
    color: #585858;
    text-decoration: none}


#bar_PageNumber,
#bar_PageNext{
    display: block;
    width: 100%;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 30px 0;
    text-align: center}
#bar_PageNumber a:link{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #444545;
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid #bfbfbf}
#bar_PageNext a:link{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #444545;
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid #bfbfbf}
#bar_PageNumber a:last-child,
#bar_PageNext a:last-child{
    border-right: none}
#bar_PageNumber a:visited,
#bar_PageNext a:visited{
    color: #8e8e8e;
    text-decoration: none}
#bar_PageNumber a:hover,
#bar_PageNext a:hover{
    color: #fff;
    background: #0d4d80;
    text-decoration: none;
    padding: 0 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s}


#blog-tag,
#project-tag{
    display: block;
    margin-top: 20px;
    text-align: center}
#blog-tag span,
#project-tag span{
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #fff;
    margin: 0 15px; 
    padding: 8px 25px;
    background: rgba(256, 256, 256, .8);
    /*border: 2px solid #b4b3b3;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px}
#box_author{
    display: block;
    float: left;
    width: 40%}
#box_author img,
#box_author p{
    display: inline-block}
#box_author img{
    width: 50px;
    height: auto;
    margin-right: 15px}
#box_author p{
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: top;
    padding-top: 8px}
#bar_social{
    display: block;
    float: right;
    width: 55%;
    text-align: right;
    padding-top: 8px}
#blog-main{
    display: block;
    width: 100%;
    margin: 30px 0 50px}
#blog-main h3,
#project-main h3,
#box_contact h3{
    font-size: 2.5rem;
    line-height: 3.8rem;
    letter-spacing: 1px}
#blog-main p,
#project-main p,
#box_contact p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    /*text-shadow: 1px 1px 1px #fff;*/
    margin-bottom: 20px}
#blog-main ul,
#blog-main ol,
#box_contact ul{
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 30px}
#blog-main ul li,
#blog-main ol li{
    padding: 8px 0;
    border-bottom: 1px dashed #a7a7a7}
#blog-main ul li{
    list-style: circle}
#blog-main ol li{
    list-style: decimal}
.pic_group{
    display: block;
    width: 90%;
    margin: 25px auto}
.pic_note{
    padding: 5px 0;
    font-size: 1.3rem;
    color: #363535;
    text-align: center}
.pic_group img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0}
.fa-caret-up{ margin-right: 10px}
.my_blockquote{
    width: 90%;
    background: url(../images/icon_left_quote.svg) no-repeat;
    padding-left: 40px;
    margin: 35px auto;
    border-bottom: 1px solid #b5b5b5}
#blog-main>.my_blockquote p{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: #b5b5b5}
/*
=====================================
聯絡諮詢
=====================================
*/
#contact_info,
#contact_form {
	display: block;
    float: left;
    width: 50%;
    padding: 0 30px}
#box_contact li{
    padding: 15px 0;
    border-bottom: 1px dashed #a7a7a7}
#box_contact img{
    vertical-align: middle;
    margin: 0 5px}
#contact-map{
    display: block;
    width:100%;
    height: 380px}
.btn_line,
.btn_facebook{
    height: 36px;
    border: 0}
#my_form{
    display: block;
    width: 85%;
    margin: 0 auto}
#my_form label{
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: bold;
    padding-left: 15px}
#contact_form input,
#contact_form textarea{
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #a3a3a3;
    font-family: 'xingothic-tc', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem}
#contact_form input:focus,
#contact_form textarea:focus{
    border: 1px solid #1683b5;
    -webkit-box-shadow: 0 0 10px #1DB7FF;
    -moz-box-shadow:0 0 10px #1DB7FF;
    box-shadow: 0 0 10px #1DB7FF}
#contact_form img{
    display: block;
    width: 254px;
    height: auto;
    margin: 30px auto}
#contact_form h4{
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2.5rem}
#contact_form p{
    font-size: 1.6rem;
    line-height: 2.2rem}

/*
=====================================
錯誤頁提醒
=====================================
*/
#box_error{
    display: block;
    width: 85%;
    margin: 0 auto;
    text-align: center}
#box_error h3{
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 1px;
    color: #eb5555}
#box_error p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 8px 0}
#box_error a{
    margin-top: 25px}