@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.0 - 201612
*
*=====================================
* 1. 首頁作品展示
* 2. 首頁文章
* 3. 頁面Banner
* 4. 作品說明頁Banner
* 5. 文章內容頁Banner
*=====================================
**/


/*
=====================================
首頁作品展示
=====================================
*/
.cd-slider .content {
    background-color: #eda7b3}

.cd-slider li:nth-of-type(2) .content {
    background-color: #bdcbf6;}

.cd-slider li:nth-of-type(3) .content {
    background-color: #9ed6f7;}

.cd-slider li:nth-of-type(4) .content {
    background-color: #d1f2df;}

.cd-slider li:nth-of-type(5) .content {
    background-color: #cdd9e5;}

/*
=====================================
首頁文章
=====================================
*/
.photo_left{
    background-position:  top left;
    background-repeat:  no-repeat;
    margin-bottom: 50px}
.photo_right{
    background-position:  top right;
    background-repeat:  no-repeat;}

/*
=====================================
頁面Banner
=====================================
*/
.cover_profile{ /*服務介紹*/
    background: url(../images/banner/pic_portfile.jpg)
    no-repeat top center}
.cover_project{ /*案例展示*/
    background: url(../images/banner/pic_project.jpg) no-repeat top center}
.cover_bloglist{ /*觀點分享*/
    background: url(../images/banner/pic_blog.jpg) no-repeat top center}
.cover_contact{ /*聯絡諮詢*/
    background: url(../images/banner/pic_contact.jpg) no-repeat top center}
.cover_error403{ /*403錯誤*/
    background: url(../images/banner/pic_403.jpg) no-repeat top center}
.cover_error404{ /*404錯誤*/
    background: url(../images/banner/pic_404.jpg) no-repeat top center}

/*
=====================================
作品列表頁
=====================================
*/
.pitem{
    display: block;
    position:relative;
    width: 280px;
    height: 385px}
.pitem img{
    width: 100%;
    height: auto}
.ptitle,
.pcover{
    width: 280px;
    height: 385px;
    position:absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out}
.ptitle{
    display: table;
    top:5;
    opacity: 0;
    background:rgba(0,0,0,.7)}
.ptitle:hover{ opacity: 1}
.ptitle h4{
    display: table-cell;
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #fff;
    vertical-align: middle;
    padding: 0 25px}
.pitem,
.pitem img,
.ptitle{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}


/*
=====================================
作品說明頁Banner
=====================================
*/
.cover_p005{
    background: url(../images/project/xue005-maxviv/banner.jpg)}
.cover_p019{
    background: url(../images/project/xue019-WanTea/banner.jpg)}
.cover_p024{
    background: url(../images/project/xue024-TheOriginalTaste/banner.jpg)}
.cover_p025{
    background: url(../images/project/xue025-PassPac/banner.jpg)}
.cover_p055{
    background: url(../images/project/xue055-soar/banner.jpg)}
.cover_p063{
    background: url(../images/project/xue063-camomillablu/banner.jpg)}
.cover_p064{
    background: url(../images/project/xue064-persegoasia/banner.jpg)}
.cover_p067{
    background: url(../images/project/xue067-THAC15th/banner.jpg)}
.cover_p084{
    background: url(../images/project/xue084-twinble/banner.jpg)}
.cover_p085{
    background: url(../images/project/xue085-Formosaroyal/banner.jpg)}
.cover_p086{
    background: url(../images/project/xue086-spreadcourier/banner.jpg)}
.cover_p087{
    background: url(../images/project/xue087-practicelove/banner.jpg)}
.cover_p089{
    background: url(../images/project/xue089-jiahe/banner.jpg)}
.cover_p090{
    background: url(../images/project/xue090-bluetears/banner.jpg)}

/*
=====================================
文章內容頁Banner
=====================================
*/
.cover_b20170614{
    background: url(../images/blog/20170614_officesite-01/banner.jpg)}
.cover_b20170623{
    background: url(../images/blog/20170623_officesite-02/banner.jpg)}
.cover_b20170629{
    background: url(../images/blog/20170629_officesite-03/banner.jpg)}
.cover_b20170706{
    background: url(../images/blog/20170706_Indexpage-Redesign/banner.jpg)}
.cover_b20170713{
    background: url(../images/blog/20170713-TPCP/banner.jpg)}
.cover_b20170720{
    background: url(../images/blog/20170720_TRIT/banner.jpg)}
.cover_b20170804{
    background: url(../images/blog/20170804-WOW/banner.jpg)}
.cover_b20180309{
    background: url(../images/blog/20180309_design-trends-01/banner.jpg)}
.cover_b20180316{
    background: url(../images/blog/20180316_design-trends-02/banner.jpg)}
.cover_b20180719{
    background: url(../images/blog/20180719_app-store-10years-design-evolution/banner.jpg)}