@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2017 xuedesign studio
* @version    v1.6 - 201807
*
*=====================================
* 1. 通用設定
* 2. 全站結構
* 3. 選單設定
* 4. 按鈕設定
* 5. 首頁設定
* 6. 等待載入動畫
* 7. ChatCode
* 8. 作品圖片輪播
* 9. animate
*10. overlay-menu
*11. 自訂scrollbar
*=====================================
**/

/*
=====================================
Reset重置
=====================================
*/
@import url("reset.css");

/*
=====================================
通用設定
=====================================
*/

html { font-size:62.5%; scroll-behavior: smooth}
body{
	margin: 0;
	padding:0;
	background: rgb(29,183,255);
	font-family: 'xingothic-tc','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    /*Microsoft JhengHei：微軟正黑體；PingFangSC-Regular：蘋方TC*/
    font-weight: 400;
	font-size: 1rem; /* 1rem=10px */
	color: #363535/*#585858*/}
/*a:link {text-decoration:none; color:#b76727}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
::selection { background: #126db4; color: #fff}
::-moz-selection { background: #126db4; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}
.clean{ clear:both}
.hidden{ display:none}
/*.jf-loading body { /*載入中不顯示
      opacity: 0;
      visibility: hidden}
.jf-active body { /*如果處理成功，直接顯示
      opacity: 1;
      visibility: visible}
.jf-inactive body {/*如果處理失敗，直接顯示
      opacity: 1;
      visibility: visible}
.jf-active *, .jf-inactive * { /*處理成功或失敗，都以漸變顯示
      -webkit-transition: opacity 1s ease-out; 
      -moz-transition: opacity 1s ease-out; 
      -o-transition: opacity 1s ease-out; 
      transition: opacity 1s ease-out}*/
.txt-blue{ color: #21abd4}
.txt-white{ color: #fff}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 96%;
    margin: 2% auto;
    background: rgb(247,247,247)}
#main-vision{
    display:block;
	max-width:100vw;
	height:100vh;
    background:url(../images/banner/pic_index-04.jpg) top center no-repeat;
    background-size: cover;
	overflow: hidden}
#my-service,
#show-case,
#my-blog,
#my-contact,
#copyright,
#top-bar{
    display: block;
    width: 100%;
    padding: 50px 0}
#show-case,
#my-contact{
    background: url(../images/bg_website.png)}
#my-service,
#my-contact,
#copyright{ padding: 0}

header,
.mybox,
#blog_index,
#top-menu{
    display: block;
    width: 1070px;
    margin: 30px auto}
header{ padding: 0 20px}
#blog_index{ margin-bottom: 50px;}

/*
=====================================
選單設定
=====================================
*/
#trigger-overlay{ display: none}
#main-nav{
    display: block;
    float: right}
#main-nav li{
    display: inline-block;
    /*width: 120px;
    height: 30px;*/
    padding: 5px 15px;
    margin-top: 43px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    -moz-line-height: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff}
#main-nav li a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 15px #868686;}
#main-nav li a:hover{
    color: #fff;
    text-decoration: none}

.hvr-bounce,
.hvr-bounce-sub{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s}
.hvr-bounce:before,
.hvr-bounce-sub:before{
    display: inline-block;
    height: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: 0;
    bottom: 0;
    background: #126db4/*#2098d1*/;
    text-align: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
.hvr-bounce:before{ 
    width: 75px;
    margin:-2px 0 0 -7px;
    padding: 8px 8px 3px 15px}
.hvr-bounce-sub:before{ 
    width: 60px;
    margin-left: -8px;
    padding: 3px 8px 5px 15px}
.hvr-bounce:hover, 
.hvr-bounce:focus, 
.hvr-bounce:active,
.hvr-bounce-sub:hover, 
.hvr-bounce-sub:focus, 
.hvr-bounce-sub:active{
    color: #fff}
.hvr-bounce:hover:before, 
.hvr-bounce:focus:before, 
.hvr-bounce:active:before,
.hvr-bounce-sub:hover:before, 
.hvr-bounce-sub:focus:before, 
.hvr-bounce-sub:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)}

/*上層固定式選單*/
#top-bar{
    padding: 0;
	height:40px;
	background:rgb(29,183,255);
	position:fixed;
    top:-65px;
    z-index: 150}
#top-menu{
    margin: 0 auto;}
#top-menu h2 a{
    float: left;
    margin: 6px 20px 0 0}
.menu-list{
    display: block;
    float: left;
    width: 60%;
    padding-top: 8px}
.menu-list li{
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    /*text-shadow: 1px 1px 5px #8d8d8d;*/
    margin: 0 25px;
    padding-left: 15px}
.menu-list li a{
    color: #fff;
    text-decoration: none}
#btn_totop{
    display: block;
    float: right;
    font-size: 2.3rem;
    color: #fff;
    margin-top: 8px}
#btn_totop:hover{
    color: #126db4}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}		
.icon-mouse{
    display: block;
    width: 17px;
    height: 49px;
    margin: 85px auto 0 auto;
    background: url(../images/icon_mouse.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-name: mousemove;/*模組名稱,自訂*/
	animation-duration: 1800ms/*2375ms*/;/*動畫演譯時間*/
    animation-iteration-count: infinite;/*動畫循環的次數，無限循環用infinite*/
   /* animation-direction: alternate;/*動畫在0%到100%之間往復執行*/}
#trigger-02{ display: none}

/*
=====================================
首頁設定
=====================================
*/
h1 a{
    display: block;
    float: left;
    width: 244px;
    height: 82px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#slogan{
    clear: both;
    padding-top: 156px;
    text-align: center}
#slogan>h2{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 700;
    font-size: 8.6rem;
    color: #fff;
    text-shadow: 0 0 15px #868686;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    margin: 0 83px}
#slogan>h2 span{
    font-size: 2rem;
    vertical-align: middle}
#slogan>h3{
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 15px #868686;
    padding: 30px 0 30px 0}
#my-service h2,
#show-case h2,
#my-blog h2,
#my-contact h2{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: 2rem}
#my-service h3,
#show-case h3,
#my-blog h3,
#my-contact h3{
    width: 760px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    text-align: center}

/*服務項目*/
.pic_city{
    display: block;
    float: left;
    width: 45%;
    height: 593px;
    /*background: url(../images/pic_city.jpg) center center no-repeat*/
    background-position: center center;
    background-repeat: no-repeat}
.service-info{
    display: block;
    float: right;
    width: 55%;
    margin-top: 80px}
.service-info img{
    display: block;
    margin: 30px auto 50px auto}
#service-info h3{
    display: block;
    width: 80%;
    margin: 0 auto}

/*作品展示*/
.cd-slider .content {
    background-color: #e5d9cf/*#bafce8*/}
.cd-slider li:nth-of-type(2) .content {
    background-color: #eda7b3;}
.cd-slider li:nth-of-type(3) .content {
    background-color: #bdcbf6;}
.cd-slider li:nth-of-type(4) .content {
    background-color: #9ed6f7;}
.cd-slider li:nth-of-type(5) .content {
    background-color: #d1f2df;}

/*設計觀察*/
.box_blog{
    display: block;
    position: relative;
    width: 100%;
    height: 309px}
.blog_foreword{
    display: block;
    position: absolute;
    bottom:-20px;    
    z-index: 10;    
    width: 494px;
    height: 244px;
    padding: 36px;
    background: rgba(255, 255, 255, .8)}
.foreword_right{
    right: 0}
.foreword_left{
    left: 0}
.blog_foreword h4{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    padding-bottom: 24px}
.blog_foreword p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 20px}
.blog_foreword a{
    display: block;
    font-size: 1.5rem;
    text-align: right;
    color: #21abd4;
    text-decoration: none}
.blog_foreword a:hover{
    color: #0d4d80;
    text-decoration: none}
.photo_left{
    background-position:  top center;
    background-repeat:  no-repeat;
    margin-bottom: 50px}
.photo_right{
    background-position:  top center;
    background-repeat:  no-repeat}

/*聯絡我們*/
#contact-info{
    display: block;
    float: left;
    width: 50%}
#box_info{
    display: block;
    width: 67%;
    margin: 60px auto 0 auto}
#box_info>h2,
#box_info>h3{
    text-align: left}
#box_info>h2{ padding-bottom: 1rem}
#box_info>h3{ padding-bottom: 2rem}
#box_info ul{ padding-bottom: 40px}
#box_info li{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    color: #fff;
    letter-spacing: .1rem}
#contact-map{
    display: block;
    float: right;
    width: 50%;
    height: 390px}

/*版權列*/
#copyright{
    clear: both;
    min-height: 118px;
    background: rgba(9, 31, 114, .8);
    padding: 1px 0 5px 0}
#copyright>hr{
    border:0; 
    height:1px; 
    background-color:#2bacf7;
	color:#2bacf7}
.box_copyright{
    display: block;
    float: left;
    width: 33.3%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #f7f7f7}
.box_copyright h4{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px}
.box_copyright li a{
    display: block;
    float: left;
    font-size: 2em;
    margin-right: 15px;
    color: #fff}
.box_copyright li a:hover{
    color: #1db7ff}
.foot-logo,
#top-menu h2 a{
    display: block;
    width: 95px;
    height: 27px;
    background: url(../images/logo-footer.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-logo{ margin-bottom: 7px}

/*
=====================================
等待載入動畫
=====================================
*/
#loading{
    display:block;
	max-width:100vw;
	height:100vh}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  
    20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*
=====================================
ChatCode 
=====================================
*/
/* 網站多重聯絡方式  WhatsHelp.io widget */
#wh-widget-send-button.wh-widget-right{right: 50px}

@media (max-width: 770px) { 
    #wh-widget-send-button.wh-widget-right{right: 10px}
}

/*
=====================================
作品圖片輪播 
=====================================
*/
/* -------------------------------- 

Slider

-------------------------------- */
.cd-slider-wrapper {
  position: relative;
  height: 450px/*100vh*/;
  padding: 10px;
}
@media only screen and (min-width: 900px) {
  .cd-slider-wrapper {
    padding: 30px;
  }
}

.cd-slider {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.cd-slider li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}
.cd-slider li.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-slider .cd-half-block {
  height: 50%;
  background-position: top center;
  background-repeat: no-repeat}

.cd-slider .image {
  background-size: cover;
}
.cd-slider .content {
  padding: 30px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-slider .content h4{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: rgb(10,121,210);
    padding-bottom: 15px}
.cd-slider .content p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #363535;/*#626262*/
    padding: 20px 0;
    margin-bottom: 20px;
    border-top: 1.5px solid rgba(64, 64, 64, 0.3);
    border-bottom: 1.5px solid rgba(64, 64, 64, 0.3)}
.cd-slider .content  .btn_redmore{
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: rgb(4,110,160);
    text-decoration: none}
.cd-slider .content  .btn_redmore:hover{
    color: #f50;
    text-decoration: none}

/*.cd-slider .light-bg {
  color: rgba(17,91,150,.6);
}
.cd-slider .btn {
  display: inline-block;
  background: rgba(254,236,1,.5);
  padding: 1em 1.6em;
  margin-top: 1em;
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 50em;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.no-touch .cd-slider .btn:hover {
  background: rgba(254,236,1, .5);
}*/
.cd-slider h2 {
  font-size: 2.2rem;
  margin-bottom: .4em;
}
.cd-slider p {
  font-size: 1.4rem;
}
.cd-slider h2, .cd-slider p {
  line-height: 1.4;
}
@media only screen and (min-width: 900px) {
  .cd-slider li {
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: z-index 0s 0.6s;
    -moz-transition: z-index 0s 0.6s;
    transition: z-index 0s 0.6s;
  }
  .cd-slider li.is-visible {
    pointer-events: auto;
    z-index: 3;
    -webkit-transition: z-index 0s 0s;
    -moz-transition: z-index 0s 0s;
    transition: z-index 0s 0s;
  }
  .cd-slider li.is-visible.covered {
    /* list item still there, but covered by the list item entering the viewport (.is-visible) */
    z-index: 2;
  }
  .cd-slider .cd-half-block {
    height: 100%;
    width: 50%;
    float: right;
  }
  .cd-slider .cd-half-block.content {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }
  .cd-slider .cd-half-block.image {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0s 0.3s;
    -moz-transition: -moz-transform 0s 0.3s;
    transition: transform 0s 0.3s;
  }
  .cd-slider li.is-visible .cd-half-block.content,
  .cd-slider li.is-visible .cd-half-block.image {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .cd-slider li.is-visible .cd-half-block.content {
    -webkit-transition: -webkit-transform 0.6s 0s ease-in-out;
    -moz-transition: -moz-transform 0.6s 0s ease-in-out;
    transition: transform 0.6s 0s ease-in-out;
  }
  .cd-slider .content {
    /* vertically align its content */
    display: table;
    padding: 0 40px;
  }
  .cd-slider .content > div {
    /* vertically align <div> inside div.content */
    display: table-cell;
    vertical-align: middle;
  }
  .cd-slider .btn {
    padding: 1.4em 2rem;
    font-size: 1.4rem;
  }
  .cd-slider p {
    font-size: 1.6rem;
  }
  .cd-slider h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .cd-slider h2, .cd-slider p {
    line-height: 2;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-slider .content {
    padding: 0 90px;
  }
  .cd-slider h2 {
    font-weight: 300;
  }
}

/* -------------------------------- 

Slider Navigation

-------------------------------- */
.cd-slider-navigation {
  /* you won't see this element in the html but it will be created using jQuery */
  position: absolute;
  z-index: 3;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
}
.cd-slider-navigation li {
  display: block;
  float: left;
  margin: 0 .25em;
  font-size: 1.8rem;
}
.cd-slider-navigation li.selected a {
  background-color: #ffffff;
}
.cd-slider-navigation a {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: transparent;
  margin: 0 8px;    
  /* image replacement */
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  border: 1px solid #ffffff;}

@media only screen and (min-width: 900px) {
  .cd-slider-navigation {
    padding: 0.5em 1em;
    background-color: rgba(30,50,65,.8);
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateZ(2px) translateX(-50%);
    -moz-transform: translateZ(2px) translateX(-50%);
    -ms-transform: translateZ(2px) translateX(-50%);
    -o-transform: translateZ(2px) translateX(-50%);
    transform: translateZ(2px) translateX(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-slider-navigation.slider-animating {
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  .cd-slider-navigation a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    /* reset style */
    text-indent: 0;
    border: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cd-slider-navigation li.selected a {
    background-color: transparent;
    color: rgb(86,196,248) /*#f3b96c*/;
  }
}


/*
=====================================
animate
=====================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}

@keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}
.fadeIn {    
-webkit-animation-name: fadeIn;
        animation-name: fadeIn;
-webkit-animation-delay:0;
        animation-delay:0;	
-webkit-animation-duration: 5s;
-moz-animation-duration: 5s;
     animation-duration: 5s}



@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
         animation-duration: 1s}



@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
-webkit-animation-delay: .5s;
        animation-delay: .5s;	
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
     animation-duration: 1s}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)}

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
    -webkit-animation-delay: .5s;
        animation-delay: .5s;	
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
            animation-duration: 1s
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);}
  50% {
    opacity: 1}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5)}
  50% {
    opacity: 1}
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s
}


/*
=====================================
overlay-menu 
=====================================
*/
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 9999;
	background: rgba(29,183,255,0.85);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/btn_cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 80%;
	position: relative}

.overlay ul li {
	display: block;
	height: 15%;
	height: calc(100% / 5);
	min-height: 70px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
	font-size: 4rem;
	font-weight: 500;
	display: block;
	color: #fff;
    text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    text-shadow: 0 0 10px #a0a0a0;
    padding-bottom: 10px
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #1C45FF;
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: #1C45FF}
::-webkit-scrollbar-track {
  background: #1CB7FF;
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}