@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2017 xuedesign studio
* @version    v1.5 - 201704
*
*=====================================
* 1. 通用設定
* 2. 全站結構
* 3. 選單設定
* 4. 按鈕設定
* 5. 首頁設定
* 6. 等待載入動畫
*=====================================
**/

/*
=====================================
通用設定
=====================================
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	background: rgb(29,183,255);
	font-family: 'xingothic-tc', 'Noto Sans TC', sans-serif;
    font-weight: 400;
	font-size: 1rem; /* 1rem=10px */
	color: #585858}
/*a:link {text-decoration:none; color:#b76727}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
::selection { background: #126db4; color: #fff}
::-moz-selection { background: #126db4; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}
.clean{ clear:both}
.hidden{ display:none}
.jf-loading body { /*載入中不顯示*/
    opacity: 0;
    visibility: hidden}
.jf-active body { /*如果處理成功，直接顯示*/
    opacity: 1;
    visibility: visible}
.jf-inactive body { /*如果處理失敗，直接顯示*/
    opacity: 1;
    visibility: visible}
.txt-blue{ color: #21abd4}
.txt-white{ color: #fff}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 96%;
    margin: 2% auto;
    background: rgb(247,247,247)}
#main-vision{
    display:block;
	max-width:100vw;
	height:100vh;
    background:url(../images/banner/pic_index-02.jpg) no-repeat;
    background-size: cover;
	overflow: hidden}
#my-service,
#show-case,
#my-blog,
#my-contact,
#copyright,
#top-bar{
    display: block;
    width: 100%;
    padding: 50px 0}
#show-case,
#my-contact{
    background: url(../images/bg_website.png)}
#my-service,
#my-contact,
#copyright{ padding: 0}

header,
.mybox,
#blog_index,
#top-menu{
    display: block;
    width: 1070px;
    margin: 30px auto}
header{ padding: 0 20px}
#blog_index{ margin-bottom: 50px;}

/*
=====================================
選單設定
=====================================
*/
#trigger-overlay{ display: none}
#main-nav{
    display: block;
    float: right}
#main-nav li{
    display: inline-block;
    /*width: 120px;
    height: 30px;*/
    padding: 5px 15px;
    margin-top: 43px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    -moz-line-height: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff}
#main-nav li a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 15px #868686;}
#main-nav li a:hover{
    color: #fff;
    text-decoration: none}

.hvr-bounce,
.hvr-bounce-sub{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s}
.hvr-bounce:before,
.hvr-bounce-sub:before{
    display: inline-block;
    height: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: 0;
    bottom: 0;
    background: #126db4/*#2098d1*/;
    text-align: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
.hvr-bounce:before{ 
    width: 75px;
    margin:-2px 0 0 -7px;
    padding: 8px 8px 3px 15px}
.hvr-bounce-sub:before{ 
    width: 60px;
    margin-left: -8px;
    padding: 3px 8px 5px 15px}
.hvr-bounce:hover, 
.hvr-bounce:focus, 
.hvr-bounce:active,
.hvr-bounce-sub:hover, 
.hvr-bounce-sub:focus, 
.hvr-bounce-sub:active{
    color: #fff}
.hvr-bounce:hover:before, 
.hvr-bounce:focus:before, 
.hvr-bounce:active:before,
.hvr-bounce-sub:hover:before, 
.hvr-bounce-sub:focus:before, 
.hvr-bounce-sub:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)}

/*上層固定式選單*/
#top-bar{
    padding: 0;
	height:40px;
	background:rgb(29,183,255);
	position:fixed;
    top:-65px;
    z-index: 150}
#top-menu{
    margin: 0 auto;}
#top-menu h2 a{
    float: left;
    margin: 6px 20px 0 0}
.menu-list{
    display: block;
    float: left;
    width: 60%;
    padding-top: 8px}
.menu-list li{
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    /*text-shadow: 1px 1px 5px #8d8d8d;*/
    margin: 0 25px;
    padding-left: 15px}
.menu-list li a{
    color: #fff;
    text-decoration: none}
#btn_totop{
    display: block;
    float: right;
    font-size: 2.3rem;
    color: #fff;
    margin-top: 8px}
#btn_totop:hover{
    color: #126db4}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-xl,
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-xl{ 
    width: 180px;
    padding: 15px 10px}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}		
.icon-mouse{
    display: block;
    width: 17px;
    height: 49px;
    margin: 85px auto 0 auto;
    background: url(../images/icon_mouse.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-name: mousemove;/*模組名稱,自訂*/
	animation-duration: 1800ms/*2375ms*/;/*動畫演譯時間*/
    animation-iteration-count: infinite;/*動畫循環的次數，無限循環用infinite*/
   /* animation-direction: alternate;/*動畫在0%到100%之間往復執行*/}
#trigger-02{ display: none}

/*
=====================================
首頁設定
=====================================
*/
h1 a{
    display: block;
    float: left;
    width: 244px;
    height: 82px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#slogan{
    clear: both;
    padding-top: 156px;
    text-align: center}
#slogan>h2{
    font-family: 'jf-jinxuan', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 8.6rem;
    /*font-weight: 700;*/
    color: #fff;
    text-shadow: 0 0 15px #868686;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    margin: 0 83px}
#slogan>h2 span{
    font-size: 2rem;
    vertical-align: middle}
#slogan>h3{
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 15px #868686;
    padding: 30px 0 30px 0}
#my-service h2,
#show-case h2,
#my-blog h2,
#my-contact h2{
    font-family: 'jf-jinxuan', 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    /*font-weight: 500;*/
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: 2rem}
#my-service h3,
#show-case h3,
#my-blog h3,
#my-contact h3{
    width: 760px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.2rem;
    text-align: center}

/*服務項目*/
.pic_city{
    display: block;
    float: left;
    width: 45%;
    height: 593px;
    background: url(../images/pic_city.jpg) center center no-repeat}
.service-info{
    display: block;
    float: right;
    width: 55%;
    margin-top: 80px}
.service-info img{
    display: block;
    margin: 30px auto 50px auto}
#service-info h3{
    display: block;
    width: 80%;
    margin: 0 auto}

/*設計觀察*/
.box_blog{
    display: block;
    position: relative;
    width: 100%;
    height: 309px}
.blog_foreword{
    display: block;
    position: absolute;
    bottom:-20px;    
    z-index: 10;    
    width: 494px;
    height: 244px;
    padding: 36px;
    background: rgba(255, 255, 255, .8)}
.foreword_right{
    right: 0}
.foreword_left{
    left: 0}
.blog_foreword h4{
    font-family: 'jf-jinxuan', 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding-bottom: 24px}
.blog_foreword p{
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-bottom: 20px}
.blog_foreword a{
    display: block;
    font-size: 1.5rem;
    text-align: right;
    color: #21abd4;
    text-decoration: none}
.blog_foreword a:hover{
    color: #0d4d80;
    text-decoration: none}

/*聯絡我們*/
#contact-info{
    display: block;
    float: left;
    width: 50%}
#box_info{
    display: block;
    width: 67%;
    margin: 60px auto 0 auto}
#box_info>h2,
#box_info>h3{
    text-align: left}
#box_info>h2{ padding-bottom: 1rem}
#box_info>h3{ padding-bottom: 2rem}
#box_info ul{ padding-bottom: 40px}
#box_info li{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    color: #fff;
    letter-spacing: .1rem}
#contact-map{
    display: block;
    float: right;
    width: 50%;
    height: 390px}

/*版權列*/
#copyright{
    clear: both;
    min-height: 118px;
    background: rgba(9, 31, 114, .8);
    padding: 1px 0 5px 0}
#copyright>hr{
    border:0; 
    height:1px; 
    background-color:#2bacf7;
	color:#2bacf7}
.box_copyright{
    display: block;
    float: left;
    width: 33.3%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #f7f7f7}
.box_copyright h4{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px}
.box_copyright li a{
    display: block;
    float: left;
    font-size: 2em;
    margin-right: 15px;
    color: #fff}
.box_copyright li a:hover{
    color: #1db7ff}
.foot-logo,
#top-menu h2 a{
    display: block;
    width: 95px;
    height: 27px;
    background: url(../images/logo-footer.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-logo{ margin-bottom: 7px}

/*
=====================================
等待載入動畫
=====================================
*/
#loading{
    display:block;
	max-width:100vw;
	height:100vh}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  
    20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}