/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.0 - 201606
*
*=====================================
* 1. 通用設定
* 2. 全站結構
* 3. 首頁設定
* 4. 
* 5. 
* 6. 
* 7. 
* 8. 
* 9. 
*=====================================
**/

/*
=====================================
通用設定
=====================================
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html { font-size:62.5% }
body{
	margin: 0;
	padding:0;
	background: rgb(29,183,255);
	font-family: 'xingothic-tc', 'Noto Sans TC', sans-serif;
	font-size: 1rem; /* 1rem=10px */
	color: #585858}
/*a:link {text-decoration:none; color:#b76727}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
::selection { background: #1c8fb2; color: #fff}
::-moz-selection { background: #1c8fb2; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}
.clean{ clear:both}
.hidden{ display:none}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 96%;
    margin: 2.2% auto;
    background: rgb(247,247,247)
}
#main-vision{
    display:block;
	max-width:100vw;
	height:100vh;
	background:url(../images/pic_mainvision.jpg) no-repeat;
    background-size: cover;
	overflow: hidden
}
.my-service,
.show-case,
.my-blog,
.my-contact,
.copyright{
    display: block;
    width: 100%
}

header,
.mybox{
    display: block;
    width: 1070px;
    margin: 50px auto
}
header{ padding: 0 20px}
/*
=====================================
首頁設定
=====================================
*/
h1 a{
    display: block;
    float: left;
    width: 244px;
    height: 82px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}
#main-nav{
    display: block;
    float: right;
    padding-top: 53px
}
#main-nav li{
    display: inline;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #fff
}
#main-nav li a{
    color: #fff;
    text-decoration: none
}
#main-nav li a:hover{
    
}
#slogan{
    clear: both;
    padding-top: 156px;
    text-align: center
}
#slogan>h2{
    font-size: 8.6rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff
}
#slogan>h3{
    font-size: 3.5rem;
    color: #fff;
    padding-top: 30px
}
