@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.0 - 201701
*
**/

/*
=====================================
Large devices / Desktops 960
=====================================
*/
@media screen and (min-width:960px) and (max-width:1110px){
    #wrap{
        width: 94%;
        margin: 3% auto}
    header,
    .mybox,
    #blog_index,
    #top-menu{
        display: block;
        width: 100%;
        margin: 30px auto}
    #main-nav{ display: none}
    #top-menu{
        margin: 0 auto;
        padding-left: 4%}
    #btn_totop{ margin-right: 35px}
    #trigger-overlay{
        display: block}
    .box_blog{
        width: 90%;
        margin: 0 auto 50px}
    #contact-map{ height: 420px}
    .box_copyright{
        width: 30%}
    .box_copyright:nth-child(1){
        margin-left: 10%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 5%}
}

/*
=====================================
Medium devices / Tablets 768
=====================================
*/
@media screen and (min-width:768px) and (max-width:959px){
   
}

/*
=====================================
Small devices / Small Tablets &　Phone
=====================================
*/
@media screen and (min-width:480px) and (max-width: 767px) {
 
}


/*
=====================================
Extra small devices / Small Phone
=====================================
*/
@media screen and (min-width:321px) and (max-width: 480px){
        
}

/*
=====================================
Extra small devices / old Small Phone
=====================================
*/
@media screen and (min-width:1px) and (max-width:350px){
  
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){ 
    
}
