@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2017 xuedesign studio
* @version    v1.2 - 201703
*
**/

/*
=====================================
桌上型電腦 for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
    #wrap{
        width: 94%;
        margin: 3% auto}
    header,
    .mybox,
    #blog_index,
    #top-menu{
        display: block;
        width: 100%;
        margin: 30px auto}
    #top-menu{
        margin: 0 auto;
        padding-left: 4%}
    #btn_totop{ margin-right: 35px}
    #main-vision{
        background-position: center}
    #slogan>h2{ font-size: 8rem}
    #slogan>h3{ font-size: 2.9rem}
    .service-info img{
        display: block;
        width: 90%;
        margin: 30px auto}
    .box_blog{
        width: 90%;
        margin: 0 auto 50px}
    #box_info{ width: 85%}
    #contact-map{ height: 420px}
    .box_copyright{
        width: 30%}
    .box_copyright:nth-child(1){
        margin-left: 10%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 5%}
}

@media (max-width:980px) {
    #slogan>h2{ 
        font-size: 7rem;
        line-height: 6.5rem}
    #slogan>h3{ font-size: 2.5rem}
    #my-service h2{ line-height: 3.5rem}
}

/*
=====================================
平板裝置(寬>長) for-tablet-landscape-up
=====================================
*/
@media (max-width:800px) {
    #slogan{ padding-top: 30%}
    #show-case,
    #my-blog{
        padding: 50px 0 15px}
    #main-vision{
        background-position: center}
    #main-nav{ display: none}
    #trigger-overlay{ 
        display: block;
        float: right;
        background: url(../images/nav-mobile.png) no-repeat;
        width: 46px;
        height: 46px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        margin: 20px 20px 0 0}
    .sub-overlay li{
        display: block;
        float: left;
        margin: 0 15px;
        padding: 0}
    .overlay .sub-overlay a:hover{
        color: rgb(247, 49, 178)}
    .hvr-underline-from-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden}
    .hvr-underline-from-left:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: rgb(247, 49, 178);
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out}
    .hvr-underline-from-left:hover:before, 
    .hvr-underline-from-left:focus:before, 
    .hvr-underline-from-left:active:before {
        right: 0}
    #top-bar{
	    height: 46px}
    .menu-list li{
        margin: 0 18px;
        padding-left: 0}
    
    #slogan>h2{ 
        font-size: 6rem;
        padding-bottom: 10px;
        margin: 0 30px}
    #slogan>h3{ 
        font-size: 2.4rem;
        padding: 30px 0 60px 0}
    #my-service h2,
    #show-case h2,
    #my-blog h2,
    #my-contact h2{ 
        font-size: 2.9rem;
        font-weight: 500;
        line-height: 2.1rem;
        text-align: center;
        padding-bottom: 2rem}
    #my-service h3,
    #show-case h3,
    #my-blog h3,
    #my-contact h3{ width: 80%}
    #show-case h3{ margin-bottom: 20px}
    .cd-slider-wrapper{
       width: 95%;
       height: 550px;
        margin: 0 auto 20px auto}
    .pic_city{ 
        display: none}
    .service-info{
        float: none;
        width: 100%;
        margin: 80px 0 50px 0}
    .service-info img{
        max-width: 527px}
    .box_blog{
        width: 90%;
        height: 553px;
        margin: 0 auto 50px}
    .blog_foreword{
        width: 100%;
        left: 0;
        bottom: 0}
    #contact-map{
        height: 530px}
    #box_info{ width: 95%}
    #box_info ul{
        padding-left: 40px}
    #box_info li{
        font-size: 1.6rem;
        line-height: 2.2rem;
        letter-spacing: 0;
        padding-bottom: 10px}
    .box_copyright{
        width: 30%}
    .box_copyright:nth-child(1){
        width: 25%;
        margin-left: 5%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 2%}
    .box_copyright:nth-child(3){
        width: 40%;
        margin-left: 2%}
    .box_copyright li a{
        font-size: 2.2em;
        margin-right: 15px}   
}


/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width: 600px) {
    #slogan{ padding-top: 30%}
    #my-blog{
        padding: 50px 0 0}
    #slogan>h2{ 
        font-size: 5rem;
        padding-bottom: 0;
        margin: 0 30px}
    #slogan>h3{ 
        font-size: 2.3rem;
        line-height: 2.5rem;
        padding: 8px 0 60px 0}
    .menu-list li{
        margin: 0 10px;
        padding-left: 0}
    #contact-info{
        float: none;
        width: 90%;
        margin: 0 auto}
    #box_info{ 
        width: 100%;
        padding: 50px 0}
    #box_info ul{ margin-left: 13px}
    #contact-map{ display: none}
    .box_copyright:nth-child(1){
        width: 45%;
        margin-left: 5%}
    .box_copyright:nth-child(2){
        width: 45%;
        margin-left: 2%}
    .box_copyright:nth-child(3){
        width: 94%;
        margin: 3% 0 0 5%}
}

/*
=====================================
for-phone-only
=====================================
*/
@media (max-width: 420px) {
    #slogan{ padding-top: 30%}
    h1 a{
        width: 193px;
        height: 65px;
        background-size: cover;
        margin-top: 11px}
    #slogan>h2{ 
        line-height: 5rem;
        padding-bottom: 8px}
    #slogan span{ 
        display: block;
        line-height: 2rem}
    #slogan>h3{ 
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 15px 0 60px 0}
    .menu-list{ display: none}
    @keyframes mousemove {
    0%   { margin-top: 40px }
    50%  { margin-top: 55px }
    100% { margin-top: 39px }
    }
    @-webkit-keyframes mousemove {
    0%   { margin-top: 40px }
    50%  { margin-top: 55px }
    100% { margin-top: 39px }
    }
    .icon-mouse{ margin: 40px auto 0 auto}
    
    #my-service h2,
    #show-case h2,
    #my-blog h2,
    #my-contact h2{
        display: block;
        width: 80%;
        margin: 0 auto;
        line-height: 3rem}
    .cd-slider-wrapper{ 
        height: 700px}
     .cd-slider-navigation {
        display: none;
        left: 0}
    .cd-slider-navigation {
        display: block;
        width: 75%;
        /*margin: 0 auto;*/
        left: 62%}
    .cd-slider-navigation li {
        margin: 0 .25em}
   .cd-slider .content p{
        height: 150px;
        overflow: hidden;
        border-bottom: none}
    .box_blog{
        margin: 0 auto 100px}
    .blog_foreword{
        bottom: -75px;
        height: 320px}
    #trigger-02{ 
        display: block;
        float: right;
        border: none;
        background: none;
        font-size: 2.3rem;
        color: #fff;
        margin: 7px 15px 0 0}
    .mybtn-l{ 
        width: 150px;
        padding: 8px 10px}
}

/*
=====================================
for-phone-only (small screen)
=====================================
*/
@media (max-width: 321px) {
    
}

/*
=====================================
for-phone-only
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){ 
    
}
