@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Wu <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v1.0 - 201701
*
**/

/*
=====================================
for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
    #wrap{
        width: 94%;
        margin: 3% auto}
    header,
    .mybox,
    #blog_index,
    #top-menu{
        display: block;
        width: 100%;
        margin: 30px auto}
    #top-menu{
        margin: 0 auto;
        padding-left: 4%}
    #btn_totop{ margin-right: 35px}
    #main-vision{
        background-position: center}
    #slogan>h2{ font-size: 8rem}
    #slogan>h3{ font-size: 2.9rem}
    .service-info img{
        display: block;
        width: 90%;
        margin: 30px auto}
    .box_blog{
        width: 90%;
        margin: 0 auto 50px}
    #box_info{ width: 85%}
    #contact-map{ height: 420px}
    .box_copyright{
        width: 30%}
    .box_copyright:nth-child(1){
        margin-left: 10%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 5%}
}

@media (max-width:980px) {
    #slogan>h2{ 
        font-size: 7rem;
        line-height: 6.5rem}
    #slogan>h3{ font-size: 2.5rem}
    #my-service h2{ line-height: 3.5rem}
}

/*
=====================================
for-tablet-landscape-up
=====================================
*/
@media (max-width:794px) {
    #main-vision{
        background-position: center}
    #main-nav{ display: none}
    #trigger-overlay{ 
        display: block;
        float: right;
        background: url(../images/nav-mobile.png) no-repeat;
        width: 46px;
        height: 46px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        margin: 20px 20px 0 0}
    .sub-overlay li{
        display: block;
        float: left;
        margin: 0 15px}
    .overlay .sub-overlay a:hover{
        color: rgb(247, 49, 178)}
    .hvr-underline-from-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden}
    .hvr-underline-from-left:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: rgb(247, 49, 178);
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out}
    .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
        right: 0}
    .menu-list li{
        margin: 0 22px;
        padding-left: 0}
    
    #slogan>h2{ 
        font-size: 7rem;
        padding-bottom: 20px;
        margin: 0 30px}
    #slogan>h3{ 
        font-size: 2.5rem;
        padding: 30px 0 60px 0}
    #my-service h2,
    #show-case h2,
    #my-blog h2,
    #my-contact h2{ 
        font-size: 2.9rem;
        font-weight: 500;
        line-height: 2.1rem;
        text-align: center;
        padding-bottom: 2rem}
    #my-service h3,
    #show-case h3,
    #my-blog h3,
    #my-contact h3{ width: 80%}
    #show-case h3{ margin-bottom: 20px}
    .cd-slider-wrapper{
       width: 95%;
       height: 550px;
        margin: 0 auto 20px auto}
}


/*
=====================================
for-tablet-portrait-up
=====================================
*/
@media (min-width: 600px) {
   
}

/*
=====================================
for-phone-only
=====================================
*/
@media (max-width: 599px) { 
 
}


/*
=====================================
for-phone-only
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){ 
    
}
