@charset "utf-8";
/**
*
* @project    xuedesign studio
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2017 xuedesign studio
* @version    v1.3 - 201704
*
**/

/*
=====================================
桌上型電腦 for-desktop-down
=====================================
*/
@media (max-width:1110px) { 
    #wrap{
        width: 94%;
        margin: 3% auto}
    header,
    .mybox,
    #top-menu{
        display: block;
        width: 100%;
        margin: 30px auto}
    #top-menu{
        margin: 0 auto;
        padding-left: 4%}
    #btn_totop{ margin-right: 35px}
    .menu-list li{ margin: 0 15px}
    #main-vision{
        background-position: center}
    #blog-title,
    #project-title{ padding-top: 10%}
    #slogan>h2{ font-size: 5rem}
    #slogan>h3{ font-size: 2.2rem}
    .box_copyright{
        width: 30%}
    .box_copyright:nth-child(1){
        margin-left: 10%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 5%}
    #container{
        width: 90%;
        margin: 0 auto}
    /*服務介紹*/
    .service_item li{ margin-right: 35px}
    #my-project-step li{
        width: 155px;
        margin: 0 15px}
    .icon_step{
        width: 155px;
        height: 155px;
        background: url(../images/pic_projectstep@2x.png) no-repeat;
        background-size: cover}
    .step-02{ background-position: 0 -155px}
    .step-03{ background-position: 0 -310px}
    .step-04{ background-position: 0 -465px}
    
    /*觀點分享*/
    .article_summary{
        width: 48.5%}
    .article_summary P{
        display: block;
        max-height: 60px;
        overflow: hidden}
    .btn_read{
        padding-top: 20px}
    
    /*聯絡諮詢*/
    #contact_info img{
        display: block;
        margin: 5px 5px 10px}
}


/*
=====================================
平板裝置(寬>長) for-tablet-landscape-up
=====================================
*/
@media (max-width:800px) {
    h1 a{
        background: url(../images/logo@2x.png) no-repeat;
        background-size: cover}
    #sub-vision{
        height: 420px}
    #slogan,
    #blog-title,
    #project-title{ padding-top: 10%}
    #slogan>h2,
    #blog-title>h2,
    #project-title>h2{
        line-height: 5.3rem;
        padding-bottom: 10px;
        margin: 0 30px}
    #slogan>h3,
    #blog-title>h3,
    #project-title>h3{ 
        font-size: 2.4rem;
        padding: 15px 0 0}
    #main-nav{ display: none}
    #trigger-overlay{ 
        display: block;
        float: right;
        background: url(../images/nav-mobile.png) no-repeat;
        width: 46px;
        height: 46px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        margin: 20px 20px 0 0}
    .sub-overlay li{
        display: block;
        float: left;
        margin: 0 15px;
        padding: 0}
    .overlay .sub-overlay a:hover{
        color: rgb(247, 49, 178)}
    .hvr-underline-from-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden}
    .hvr-underline-from-left:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: rgb(247, 49, 178);
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out}
    .hvr-underline-from-left:hover:before, 
    .hvr-underline-from-left:focus:before, 
    .hvr-underline-from-left:active:before {
        right: 0}
    #top-bar{
	    height: 46px}
    .menu-list li{
        margin: 0 12px;
        padding-left: 0}
    #container{ padding: 20px 0 40px}
    .box_copyright{
        width: 30%}
    .box_copyright p{ line-height: 1.8rem}
    .box_copyright:nth-child(1){
        width: 25%;
        margin-left: 5%}
    .box_copyright:nth-child(2){
        width: 25%;
        margin-left: 2%}
    .box_copyright:nth-child(3){
        width: 40%;
        margin-left: 2%}
    .box_copyright li a{
        font-size: 2.2em;
        margin-right: 15px}
    
    /*服務介紹*/
    .logomean-left,
    .logomean-right {
	    float: none;
        width: 90%;
        margin: 0 auto}
    .logomean-left{ margin: 20px auto 40px}
    #logo-change{ margin: 0 auto}
    .service_item li{
        width: 180px;
        height: 101px;
        background: url(../images/icon_service-sub@2x.png) no-repeat;
        background-size: cover;
        margin-right: 8px;
        padding-top: 75px;
        font-size: 1.4rem;
        letter-spacing: 2px}
    .service_item li:nth-child(3){ 
        margin-right: 0}
    .service_item .service-01{
        background-position: 0 0}
    .service_item .service-02{
        background-position: 0 -101px}
    .service_item .service-03{
        background-position: 0 -202px}
    .service_item .service-04{
        background-position: 0 -303px}
    .service_item .service-05{
        background-position: 0 -404px}
    .service_item .service-06{
        background-position: 0 -505px}
    #my-project-step li{
        width: 200px;
        margin: 0 15px}
    .icon_step{
        width: 200px;
        height: 200px;
        background: url(../images/pic_projectstep@2x.png) no-repeat;
        background-size: cover}
    .step-02{ background-position: 0 -200px}
    .step-03{ background-position: 0 -400px}
    .step-04{ background-position: 0 -600px}
    .step-03,
    .step-04{ margin-top: 30px}
    
    /*觀點分享*/
    #box_blog li{
        display: inline-block;
        width: 45%;
        margin: 2%}
    #box_blog img,
    .article_summary,
    .btn_read{ float: none}
    #box_blog img{
        width: 100%;
        height: auto}
    .article_summary{ 
        width: 100%}
    .article_summary p{ 
        display: block;
        max-height: 90px}
    .btn_read{ text-align: right}            
}


/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width: 600px) {
    #slogan>h2,
    #blog-title>h2,
    #project-title>h2{
        line-height: 4.8rem}
    #slogan>h3,
    #blog-title>h3{
        line-height: 3.5rem}
    #project-title>h3{
        font-size: 2.2rem;
        line-height: 2.6rem}
    .menu-list{ display: none}
    #trigger-02{ 
        display: block;
        float: right;
        border: none;
        background: none;
        font-size: 2.3rem;
        color: #fff;
        margin: 7px 15px 0 0}
    .box_copyright:nth-child(1){
        width: 25%;
        margin-left: 5%}
    .box_copyright:nth-child(2){
        width: 32%;
        margin-left: 2%}
    .box_copyright:nth-child(3){
        width: 33%;
        margin-left: 2%}
    .box_copyright li a{
        margin-bottom: 15px}
    
    /*服務介紹*/
    .service_item li{
        width: 135px;
        height: 76px;
        margin-right: 8px;
        padding-top: 54px}
    .service_item li:nth-child(3){ 
        margin-right: 0}
    .service_item .service-01{
        background-position: 0 0}
    .service_item .service-02{
        background-position: 0 -76px}
    .service_item .service-03{
        background-position: 0 -152px}
    .service_item .service-04{
        background-position: 0 -228px}
    .service_item .service-05{
        background-position: 0 -304px}
    .service_item .service-06{
        background-position: 0 -380px}
    
    /*案例展示*/
    #project-info ul{
        width: 100%;
        margin: 0;
        padding-top: 20px}
    #project-info li{
        padding-left: 15px}
    #project-info li:nth-child(1){
        width: 20%}
    #project-info li:nth-child(2){
        width: 48%}
    #project-info li:nth-child(3){
        width: 31%}
    #bar_PageNext a:link{
        min-height: 100px;
        overflow: hidden}
    #bar_PageNext a:nth-child(2){
        padding-top: 5%;
        line-height: 20px}
    
    /*觀點分享*/
    #bar_PageNumber a:link{
        padding: 0 25px}
    
    /*聯絡諮詢*/
    #contact_info,
    #contact_form {
        display: block;
        float: none;
        width: 100%;
        padding: 0 30px}
    #contact_info{ margin-bottom: 30px}
    #box_contact ul{
        width: 95%;
        padding-bottom: 30px}
    #contact_info img{
        display: inline-block;
        margin: 0 5px}
    #contact_form img{
        display: block;
        width: 230px;
        height: auto;
        margin: 20px auto}
}

/*
=====================================
手機(大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) {
    #slogan{ padding-top: 20%}
    #blog-title,
    #project-title{ padding-top: 10%}
    h1 a{
        width: 193px;
        height: 65px;
        background: url(../images/logo@2x.png) no-repeat;
        background-size: cover;
        margin-top: 11px}
    #slogan>h2,
    #blog-title>h2,
    #project-title>h2{
        font-size: 4.5rem;
        line-height: 5rem;
        padding-bottom: 8px}
    #slogan span{ 
        display: block;
        line-height: 2rem}
    #blog-tag span,
    #project-tag span{
        font-size: 1.5rem;
        letter-spacing: 0;
        text-shadow: 1px 1px 1px #fff;
        margin: 0 5px; 
        padding: 8px 10px}
    #slogan>h3,
    #blog-title>h3,
    #project-title>h3{ 
        font-size: 2rem;
        line-height: 2.5rem}
    #slogan>h3{ padding: 15px 0 60px 0}
    #blog-title>h3,
    #project-title>h3{
        padding: 15px 0}
    .mybtn-l{ 
        width: 150px;
        padding: 8px 10px}
    .box_copyright:nth-child(1){
        width: 45%;
        margin-left: 5%}
    .box_copyright:nth-child(2){
        width: 45%;
        margin-left: 2%}
    .box_copyright:nth-child(3){
        width: 94%;
        margin: 3% 0 0 5%}
    /*服務介紹*/
    #logo-change{
        display: block;
        width: 95%;
        height: auto;
        margin: 0 auto}
    #logo-change img{ 
        width: 100%;
        height: auto}
    .logomean-left{
        padding: 50px 0}
    .logomean-right{
        margin-top: 20px}
    #service-info>section{
        margin-bottom: 20px}
    #our_doit h4{ display: none}
    .service_item { text-align: center}
    .service_item li{
        width: 250px;
        height: 141px;
        margin: 0 auto 28px auto;
        padding-top: 100px;
        font-size: 1.8rem}
    .service_item li:nth-child(6){ 
        margin-bottom: 50px}
    .service_item .service-01{
        background-position: 0 0}
    .service_item .service-02{
        background-position: 0 -141px}
    .service_item .service-03{
        background-position: 0 -282px}
    .service_item .service-04{
        background-position: 0 -423px}
    .service_item .service-05{
        background-position: 0 -564px}
    .service_item .service-06{
        background-position: 0 -705px}
    
    /*案例展示*/
    #project-info li:nth-child(1){
        width: 49%}
    #project-info li:nth-child(2){
        width: 50%}
    #project-info li:nth-child(3){
        width: 100%}
    #project-info h4{
        font-size: 1.5rem}
    #bar_PageNext a:link,
    #bar_PageTruner a:link{
        display: inline-block;
        width: 50px;
        max-width: 50px;
        min-height: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0;
        border: none}
    #bar_PageNext a:link{ margin: 0 15px}
    #bar_PageTruner a:link{ margin: 0 15%}
    #bar_PageNext a:nth-child(1),
    #bar_PageTruner a:nth-child(1){
        background: url(../images/icon_arrow_left.svg) no-repeat;
        background-size: cover;
        opacity: .7}
    #bar_PageNext a:nth-child(2){
        background: url(../images/icon_list.svg) no-repeat;
        background-size: cover;
        opacity: .7}
    #bar_PageNext a:nth-child(3),
    #bar_PageTruner a:nth-child(2){
        background: url(../images/icon_arrow_right.svg) no-repeat;
        background-size: cover;
        opacity: .7}
    
    /*觀點分享*/
    #box_blog li{
        display: inline-block;
        width: 100%;
        margin: 2% 0}
    #bar_PageNumber{ display: none}
    #bar_PageTruner{ display: block}
    
    /*聯絡諮詢*/
    #contact_info img{
        display: inline-block;
        margin: 8px 5px 0}
    #my_form{ width: 100%}
}

/*
=====================================
手機 for-phone-only (small screen)
=====================================
*/
@media (max-width: 321px) {
    h1 a{
        width: 145px;
        height: 49px;
        background: url(../images/logo@2x.png) no-repeat;
        background-size: cover;
        margin-top: 20px}
    #trigger-overlay{ 
        margin: 20px 0 0 0}
    .box_copyright:nth-child(1){
        width: 95%;
        margin: 0 0 10px 5%}
    .box_copyright:nth-child(2){
        width: 95%;
        margin-left: 5%}
    .box_copyright:nth-child(3){
        margin-bottom: 5%}
    #sub-vision{ height: 380px}
    #blog-tag span,
    #project-tag span{ display: none}
    
    /*服務介紹*/
    #service-info h3{
        font-size: 2.2rem;
        line-height: 2.6rem}
    #our_doit p,
    #our_sop p{ padding: 0 0 40px 0}
    .service_item li{
        width: 180px;
        height: 101px;
        margin: 0 auto 28px auto;
        padding-top: 74px;
        font-size: 1.5rem}
    .service_item .service-01{
        background-position: 0 0}
    .service_item .service-02{
        background-position: 0 -101px}
    .service_item .service-03{
        background-position: 0 -202px}
    .service_item .service-04{
        background-position: 0 -303px}
    .service_item .service-05{
        background-position: 0 -404px}
    .service_item .service-06{
        background-position: 0 -505px}
    
    /*案例展示*/
    .pitem,
    .ptitle,
    .pcover{
        width: 230px;
        height: 294px}
    #bar_PageNext a:link{ margin: 0 10px}
    
    /*觀點分享*/
    #box_author,
    #bar_social{
        float: none;
        width: 100%} 
    #bar_social{
        text-align: left;
        padding-top: 15px}
    
    /*案例展示*/
    #box_contact h3{ font-size: 2.3rem}
    #box_contact ul{ width: 100%}
    #contact_form img{
        width: 190px;
        height: auto;
        margin: 20px auto}
}
/*
=====================================
for-retina-photo
=====================================
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
    .foot-logo,
    #top-menu h2 a{
        background: url(../images/logo-footer@2x.png) no-repeat;
        background-size: cover} 
    
}
