/**
*
* @project    xuedesign studio
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2016 xuedesign studio
* @version    v2.0 - 202105
*
*=====================================
* 1. 通用設定
* 2. 全站結構
* 3. 選單設定
* 4. 按鈕設定
* 5. 頁面頂端+版權列設定
* 6. 案例展示
* 7. 觀點分享
* 8. ChatCode
* 9. animate
*10. overlay-menu
*11. 自訂scrollbar
*=====================================
**/


/*
=====================================
Reset重置
=====================================
*/
@import 'reset';

/*
=====================================
通用設定
=====================================
*/

html { font-size:62.5%; scroll-behavior: smooth}
body{
	margin: 0;
    padding:0;
    background: -webkit-linear-gradient(180deg, rgb(19, 59, 209) 88%, rgb(29, 183, 255));
    background: linear-gradient(180deg, rgb(19, 59, 209) 88%, rgb(29, 183, 255));
	/*background: rgb(29,183,255);*/
    font-family: 'xingothic-tc','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    /*Microsoft JhengHei：微軟正黑體；PingFangSC-Regular：蘋方TC*/
    font-weight: 400;
	font-size: 1rem; /* 1rem=10px */
	color: #363535}
/*a:link {text-decoration:none; color:#b76727}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#F50}*/
form{margin:0; padding:0}
image{border:0}
::selection { background: rgb(19, 59, 209); color: #fff}
::-moz-selection { background: rgb(19, 59, 209); color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}
.clean{ clear:both}
.hidden{ display:none}
/*.jf-loading body { /*載入中不顯示
  opacity: 0;
  visibility: hidden}
.jf-active body { /*如果處理成功，直接顯示
  opacity: 1;
  visibility: visible}
.jf-inactive body {/*如果處理失敗，直接顯示
  opacity: 1;
  visibility: visible}*/
.jf-active *, .jf-inactive * { /*處理成功或失敗，都以漸變顯示*/
    -webkit-transition: opacity 1s ease-out; 
    -moz-transition: opacity 1s ease-out; 
    -o-transition: opacity 1s ease-out; 
    transition: opacity 1s ease-out}
.txt-blue{ color: #2160d4}
.txt-white{ color: #fff}


/*
=====================================
全站結構
=====================================
*/
#wrap{
    display: block;
    width: 96%;
    margin: 2.2% auto;
    background: rgb(247,247,247)}
#sub-vision{
    display:block;
	max-width:100vw;
	height: 500px/*50vh*/;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
	overflow: hidden}
#my-contact,
#copyright,
#top-bar,
#container{
    display: block;
    width: 100%;
    padding: 50px 0}
#my-contact{
    background: url(../images/bg_website.png)}
#my-contact,
#copyright{ padding: 0}

header,
.mybox,
#top-menu{
    display: block;
    width: 1070px;
    margin: 30px auto}
.mybox2{
    display: block;
    width: 85%;
    margin: 30px auto}
header{ padding: 0 20px}

/*
=====================================
選單設定
=====================================
*/
#main-nav{
    display: block;
    float: right}
#main-nav li{
    display: inline-block;
    /*width: 120px;
    height: 30px;*/
    padding: 5px 15px;
    margin-top: 43px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    -moz-line-height: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff}
#main-nav li a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 15px #868686;}
#main-nav li a:hover{
    color: #fff;
    text-decoration: none}

.hvr-bounce,
.hvr-bounce-sub{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s}
.hvr-bounce:before,
.hvr-bounce-sub:before{
    display: inline-block;
    height: 20px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -3px;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
.hvr-bounce:before{ background: rgb(19, 59, 209)/*#126db4/*#2098d1*/;}
.hvr-bounce-sub:before{ background: rgb(8, 116, 231)}      
.hvr-bounce:before{ 
    width: 75px;
    margin:-2px 0 0 -7px;
    padding: 8px 8px 3px 15px}
.hvr-bounce-sub:before{ 
    width: 60px;
    margin-left: -8px;
    padding: 3px 8px 5px 15px}
.hvr-bounce:hover, 
.hvr-bounce:focus, 
.hvr-bounce:active,
.hvr-bounce-sub:hover, 
.hvr-bounce-sub:focus, 
.hvr-bounce-sub:active{
    color: #fff}
.hvr-bounce:hover:before, 
.hvr-bounce:focus:before, 
.hvr-bounce:active:before,
.hvr-bounce-sub:hover:before, 
.hvr-bounce-sub:focus:before, 
.hvr-bounce-sub:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)}

/*上層固定式選單*/
#top-bar{
    padding: 0;
	height:40px;
	background:rgb(19,59,209);
	position:fixed;
    top:-65px;
    z-index: 150}
#top-menu{
    margin: 0 auto;}
#top-menu h2 a{
    float: left;
    margin: 6px 20px 0 0}
.menu-list{
    display: block;
    float: left;
    width: 60%;
    padding-top: 8px}
.menu-list li{
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    /*text-shadow: 1px 1px 5px #8d8d8d;*/
    margin: 0 25px;
    padding-left: 15px}
.menu-list li a{
    color: #fff;
    text-decoration: none}
#btn_totop{
    display: block;
    float: right;
    font-size: 2.3rem;
    color: #fff;
    margin-top: 8px}
#btn_totop:hover{
    color: #1db7ff}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn-l,
.mybtn-m{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none}
.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}
.btn_sent{
    font-family: 'xingothic-tc','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer}
.btn-white:hover,
.btn-blue:hover,
.btn_sent:hover{
    color: #fff;
    border-color: #0d4d80;
    background: rgb(19,59,209);
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}		
.icon-mouse{
    display: block;
    width: 17px;
    height: 49px;
    margin: 85px auto 0 auto;
    background: url(../images/icon_mouse.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation-name: mousemove;/*模組名稱,自訂*/
	animation-duration: 1800ms/*2375ms*/;/*動畫演譯時間*/
    animation-iteration-count: infinite;/*動畫循環的次數，無限循環用infinite*/
   /* animation-direction: alternate;/*動畫在0%到100%之間往復執行*/}
#trigger-overlay,
#trigger-02{ display: none}

/*
=====================================
頁面頂端+版權列設定
=====================================
*/
h1 a{
    display: block;
    float: left;
    width: 244px;
    height: 82px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#slogan,
#blog-title,
#project-title{
    clear: both;
    padding-top: 11%/*156px*/;
    text-align: center}
#slogan>h2,
#blog-title>h2,
#project-title>h2{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 15px #868686;
    margin: 0 83px}
#slogan>h2{ 
    font-size: 5rem;
    padding-bottom: 30px}
#blog-title>h2,
#project-title>h2{ 
    font-size: 4rem;
    line-height: 4.5rem;
    padding-bottom: 20px}
#slogan>h2 span{
    font-size: 2rem;
    vertical-align: middle}
#slogan>h3,
#project-title>h3{
    width: 76%;
    margin: 0 auto;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 15px #868686}
#slogan>h3{ padding: 30px 0 60px 0}
#project-title>h3{ padding: 30px 0 10px 0}
#my-contact h2{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-align: center;
    padding-bottom: 2rem}
#my-contact h3{
    width: 760px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    text-align: center}
.cover_profile,
.cover_project,
.cover_bloglist,
.cover_contact,
.cover_error403,
.cover_error404{
    background-position: top center;
    background-repeat: no-repeat}
.cover_error403{ /*403錯誤*/
    background: url(../images/banner/pic_403.jpg)}
.cover_error404{ /*404錯誤*/
    background: url(../images/banner/pic_404.jpg)}

/*版權列*/
#copyright{
    clear: both;
    min-height: 118px;
    background: rgba(9, 31, 114, .8);
    padding: 1px 0 5px 0}
#copyright>hr{
    border:0; 
    height:1px; 
    background-color:#2bacf7;
	color:#2bacf7}
.box_copyright{
    display: block;
    float: left;
    width: 33.3%;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #f7f7f7}
.box_copyright h4{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px}
.box_copyright p{
    line-height: 2.6rem}     
.box_copyright li a{
    display: block;
    float: left;
    font-size: 2em;
    margin-right: 15px;
    color: #fff}
.box_copyright li a:hover{
    color: #1db7ff}
.foot-logo,
#top-menu h2 a{
    display: block;
    width: 95px;
    height: 27px;
    background: url(../images/logo-footer.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.foot-logo{ margin-bottom: 7px}


/*
=====================================
案例展示
=====================================
*/
#project-main{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px}
#project-main img{
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto 20px}
#project-main section{
    display: block;
    margin-bottom: 40px}
#project-main strong{
    font-weight: normal}

#project-info h4{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    /*font-weight: normal;*/
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #2358be}
#project-info p{
    font-size: 1.6rem;
    line-height: 2.2rem}
#project-info ul{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px}
#project-info li{
    display: inline-block;
    width: 33%;
    padding-left: 40px;
    vertical-align: top}
#project-info a{
    color: #363535;
    text-decoration: none}
#project-info a:visited{
    color: #8e8e8e;
    text-decoration: none}
#project-info a:hover{
    color: #126db4;
    text-decoration: none}

/*
=====================================
觀點分享
=====================================
*/
#bar_PageNumber,
#bar_PageNext,
#bar_PageTruner{
    display: block;
    width: 100%;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 30px 0;
    text-align: center}
#bar_PageTruner{ display: none}
#bar_PageNumber a:link{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #444545;
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid #bfbfbf}
#bar_PageNext a:link{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #444545;
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid #bfbfbf}
#bar_PageNumber a:last-child,
#bar_PageNext a:last-child{
    border-right: none}
#bar_PageNumber a:visited,
#bar_PageNext a:visited{
    color: #8e8e8e;
    text-decoration: none}
#bar_PageNumber a:hover,
#bar_PageNext a:hover,
#bar_PageNumber a.nowin{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s}
#bar_PageNumber a:hover,
#bar_PageNext a:hover{background: rgb(19, 59, 209)/* #1db7ff *//*#0d4d80*/}
#bar_PageNumber a.nowin{background: rgb(19, 59, 209)/*#1DB7FF*/}


#blog-tag,
#project-tag{
    display: block;
    margin-top: 20px;
    text-align: center}
#blog-tag span,
#project-tag span{
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #fff;
    margin: 0 15px; 
    padding: 8px 25px;
    background: rgba(256, 256, 256, .8);
    /*border: 2px solid #b4b3b3;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px}
#box_author{
    display: block;
    float: left;
    width: 40%}
#box_author img,
#box_author p{
    display: inline-block}
#box_author img{
    width: 50px;
    height: auto;
    margin-right: 15px}
#box_author p{
    font-size: 1.3rem;
    line-height: 1.6rem;
    vertical-align: top;
    padding-top: 8px}
#bar_social{
    display: block;
    float: right;
    width: 55%;
    text-align: right;
    padding-top: 8px}
#blog-main{
    display: block;
    width: 80%;
    margin: 30px auto 50px}
#blog-main h3,
#project-main h3{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 1px}
#blog-main h3,
#project-main h3{
    padding: 20px 0 10px}
#blog-main h3::after,
#project-main h3::after{
    content: "";
    display: block;
    border-top: 4px solid #2160d4/*#1db7ff*/;
    width: 8.5rem;
    margin: 10px 0 20px}
#blog-main h3:first-child,
#project-main h3:first-child{
    padding: 0 0 10px}
#blog-main h4,
#project-main h4{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Medium',sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 1px}
#blog-main p,
#project-main p{
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-align: justify;
    /*text-shadow: 1px 1px 1px #fff;*/
    margin-bottom: 20px}
#blog-main ul,
#blog-main ol{
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    padding-bottom: 30px}
#blog-main ul,
#blog-main ol{ font-size: 1.7rem}
#blog-main ul li,
#blog-main ol li{
    padding-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #a7a7a7}
#blog-main ul li{
    list-style: circle}
#blog-main ol li{
    list-style: decimal}
#blog-main li>p{ margin-bottom: 10px}
.pic_group,
.pic_group-row2,
.pic_group-row3{
    width: 90%;
    margin: 25px auto}
.pic_group-project{
    width: 100%;
    margin: 25px auto}
.pic_group,
.pic_group-project{ display: block}
.pic_group-row2,
.pic_group-row3{ 
    display: flex;
    flex-wrap: wrap;}
.pic_note{
    padding: 5px 0;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.2rem;
    color: #363535;
    text-align: center}
.item-row2{ width: 49%; margin: 0 .5%}
.item-row3{ width: 32%; margin: 0 .5%}
.pic_group img,
.pic_group-project img,
.pic_group-row2 img,
.pic_group-row3 img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0}
.fa-caret-up{ margin-right: 10px}
.my_blockquote{
    width: 90%;
    background: url(../images/icon_left_quote.svg) no-repeat;
    padding-left: 40px;
    margin: 35px auto;
    border-bottom: 1px solid #b5b5b5}
#blog-main>.my_blockquote p{
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    /*font-weight: bold;*/
    line-height: 3rem;
    color: #b5b5b5}
#blog-main a,
#project-main a{
    color: rgb(19, 59, 209)/*#37ace3*/;
    text-decoration: underline}
#blog-main a:visited,
#project-main a:visited{
    color: #6b7e86;
    text-decoration: underline}
#blog-main a:hover,
#project-main a:hover{
    color: #1db7ff/*#f50*/;
    text-decoration: none}

/*
=====================================
ChatCode 
=====================================
*/
/* 網站多重聯絡方式  WhatsHelp.io widget */
a.sc-7dvmpp-1.dfBDQI,
a.btn_back{ display:none}

@media (max-width: 770px) { 
    .q8c6tt-2.jxPOhn{
        bottom: 65px}
    a.btn_back{
        display: block;
        position: fixed;
        bottom: 20px;
        right:23px;
        width: 50px;
        height: 50px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
        transition: all 0.5s ease 0s;
        background: #1D3BD1/* #531603 */;
        overflow: hidden;
        z-index: 16000200 !important;
        text-align: center;}
    .fa-undo-alt{
        font-size:2.5rem;
        padding-top: 10px;
        color: #fff}    
}

/*
=====================================
animate
=====================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}

@keyframes fadeIn {
  from {
    opacity: 0}
  to {
    opacity: 1}
}
.fadeIn {    
-webkit-animation-name: fadeIn;
        animation-name: fadeIn;
-webkit-animation-delay:.5s;
        animation-delay:.5s;	
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
     animation-duration: 1s}

.fadeIn-title {    
-webkit-animation-name: fadeIn;
        animation-name: fadeIn;
-webkit-animation-delay:0;
        animation-delay:0;	
-webkit-animation-duration: 5s;
-moz-animation-duration: 5s;
     animation-duration: 5s}



@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
         animation-duration: 1s}



@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
-webkit-animation-delay: .5s;
        animation-delay: .5s;	
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
     animation-duration: 1s}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)}

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)}
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none}
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
    -webkit-animation-delay: .5s;
        animation-delay: .5s;	
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
            animation-duration: 1s
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3)}
  50% {
    opacity: 1}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3)}
  50% {
    opacity: 1}
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn}

/*
=====================================
overlay-menu 
=====================================
*/
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 16000500;
	background: rgba(19,59,209,.85);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/btn_cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 80%;
	position: relative}

.overlay ul li {
	display: block;
	height: 15%;
	height: calc(100% / 5);
	min-height: 70px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
    font-family: 'jf-jinxuan','Microsoft JhengHei','PingFangTC-Regular',sans-serif;
	font-size: 4rem;
	font-weight: 500;
	display: block;
	color: #fff;
    text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    /*text-shadow: 0 0 10px #a0a0a0;*/
    padding-bottom: 10px
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: rgb(29, 183, 255);   
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: rgb(29, 183, 255);}
::-webkit-scrollbar-track {
  background: rgb(19, 59, 209);
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}

/*
=====================================
RWD
=====================================
*/
@import 'xueresponsive-page';
