RewriteEngine on

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

##Site for SSL
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

##for error page
<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 /error404.html
ErrorDocument 403 /error403.html
</IfModule>

##for 301 Redirect
Redirect /content/about_us.html https://www.xuedesign.tw/service.html